.overlay {
  padding: 0px 20px 20px;
}
.contactInfoTitle {
  text-align: center;
}
.contactInfoImg {
  width: 80px;
  margin: 0 auto;
}
.contactList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.contactTitle {
  padding: 30px 20px;
  text-align: center;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.contactInfoBg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .contactTitle {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .contactInfo {
    flex-direction: row;
    align-items: stretch;
  }
  .contactInfoTitle {
    margin-top: 0px;
  }
  .contactInfoBg {
    width: 500px;
  }
  .overlay {
    max-width: 1600px;
    margin: 0 auto;
  }
  .contactInfoImg {
    display: block;
    width: 120px;
    margin: 0 auto;
  }
}
