.title {
  margin: 0;
  font-size: 18px;
}

p {
  margin: 0;
  font-size: 14px;
}

.layout {
  background-color: #dbe5eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.buttonBurger {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger {
  margin-top: 8px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
  position: absolute;
  background-color: #dbe5eb;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.active {
  composes: nav;
  transform: translateX(0%);
}
