.container {
  padding-left: 20px;
  padding-right: 20px;
}
.room {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.title {
  margin: 0px;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .room {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .title {
    font-size: 48px;
    margin-top: 60px;
    margin-bottom: 60px;
    /* text-shadow: 20px 20px 20px #000000; */
    animation: textShadow 8s ease-in-out infinite alternate;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0px 0px 0px #e4e6a7;
  }
  20% {
    text-shadow: -20px -20px 20px #7c96c2;
  }

  40% {
    text-shadow: 20px -20px 20px #e4e6a7;
  }

  60% {
    text-shadow: -20px 20px 20px #7c96c2;
  }

  80% {
    text-shadow: 20px 20px 20px #e4e6a7;
  }

  100% {
    text-shadow: 0px 0px 0px #7c96c2;
  }
}
